@use './abstracts/index' as *;

@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      @include absCenter()
    }
  }

  .header {
    position: relative;
    width: 100%;
    height: 40px;
    @include flexAbsoluteCenter;
    margin-top: 2rem;
     &__mobile {
      display: flex;
      align-items: center;
      justify-content:flex-end;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 2000;
      padding: 0.25rem 1rem;
      background-color: $navy;
      box-sizing: border-box;
      @include respond(tablet) {
          display: none;
      }
    }
  }
  
  .burger-menu {
    @include flexAbsoluteCenter;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease-in-out; 
   
  
    svg {
      color: $grey;
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
    }
  
    &:hover svg {
      transform: scale(1.1);
      color: $grey; 
    }
  }
  
  .nav {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(100%);
  background-color: $navy;
  //padding: 4em 2em;
  @include flexAbsoluteCenter();
  &__logo {
    display: none;
    @include respond(tablet){
      display: block;
    }
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;   
    letter-spacing: -0.29px;
  }
  &.open {
    transform: translate(0%);
    transition: transform 1.5s linear;
  }
  
  @include respond(tablet){
    position: relative;
    display: flex;

    // position: absolute;
    transform: translate(0);
    // padding: 1em;
    // height: fit-content;
  }
  
  }
  
  // .menu {
  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // & > * {
  //   @include flexAbsoluteCenter();
  // }
  
  
  // @include respond(tablet) {
  //   flex-direction: row;
  //   height: fit-content;
  //   //width: 85%;
  //   width:70%;
  //   justify-content: space-between;
  //   margin-left: auto;
  // }
  // @include respond(desktop){
  //   width: 51.75%;
  // }
  
  // &__link {
  //   font-size: 1.8rem;    
  //   color: $white;
  //   transition: color 0.3s;
  //   font-weight: 500;

  // line-height: 26px;
  // letter-spacing: 0;
 
  //   &:hover {
  //     color: $light-green;
  //   }
  //   &:active {
  //     color: $blue
  //   }
  // }
  // &__item{
  //   &__button{
  //     background-color: $pink;
  //     width: 120px;
  //     height: 40px;
  //     border-radius: 100px;
  //     @include flexAbsoluteCenter();
     
  //     overflow: visible;
  //   }
  // }
  // }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
     height: 100vh;
    width: 100%;
    padding-top: 10rem;
  
    & > * {
      @include flexAbsoluteCenter();
    }

    &__item {
      padding: 2rem;
    
      @include respond(tablet) {
        padding: 0;
      }
    }
    // Tablet styles
    @include respond(tablet) {
    height: 0;
      padding-top: 0;
      flex-direction: row;
    
      width: 70%;
      justify-content: space-between;
      margin-left: auto;
    }
  
    // Desktop styles
    @include respond(desktop) {
      width: 51.75%;
    }
  
    &__link {
      font-size: 1.8rem;
      line-height: 26px;
      letter-spacing: 0;
      color: $white;
      font-weight: 500;
      transition: color 0.3s;
  
      &:hover {
        color: $light-green;
      }
  
      &:active {
        color: $blue;
      }
    }
  
    &__item {
      &__button {
        background-color: $pink;
        width: 120px;
        height: 2rem;
        border-radius: 100px;
        @include flexAbsoluteCenter();
        overflow: visible;
        @include respond(tablet) {
          height: 40px;
        }
      }
    }
  }

  .link {
    &__disabled {
      color: $navy-opacity;
    }
  }
  
 
  
  
  
  
  
  
  
  