@use './abstracts/index' as *;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @include respond(lg, xl) {
        display: flex;
        flex-direction: row;
    }
    &__panel {
        flex: 43.9%;
    }
    &__form {
        flex: 48.35%;
    }
}

.panel {
   
    @include respond(md, lg, xl) {
      margin-top: 10.4rem;
      padding-right: 5rem;
       
    }
    & > * {
         @include respond(md, lg, xl) {
            text-align: start;  
        } 
    }
    &__description {
         width: auto;
        @include respond(md, lg, xl) {
            width: 85%;
        } 
        margin: 3rem 0;
    }
    &__button {
        display: flex;
        width: 15.7rem;
        background-color: $color-action-third;
        color: $white;
        border-radius: 100px;
        @include flexAbsoluteCenter();
        @include respond(md, lg, xl) {
             margin: 5rem auto 5rem 0; 
        } 
     }
}